:root {
  /*  Color variables are set in style.js according to selected color scheme; which are listed in colors.json*/
  /*  var(--bg) : background color*/
  /*  var(--fg) : foreground color : text, tickboxes, logo etc*/
  /*  var(--hl) : highlight color : tooltip, html links, scrollbar hover etc*/
  /*  var(--ll) : lowlight color : greyed out text, dropshadows, scrollbar track etc*/
}

html,
body {
  font: 14px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  background: var(--bg);
  font-kerning: normal;
}

em,
p {
  margin-top: 1em;
  margin-bottom: 1em;
}

@charset "utf-8";
@font-face {
  font-family: 'cwicons';
  src: url('assets/fonts/cwicons.eot?bm1tg2');
  src: url('assets/fonts/cwicons.eot?bm1tg2#iefix') format('embedded-opentype'), url('assets/fonts/cwicons.ttf?bm1tg2') format('truetype'), url('assets/fonts/cwicons.woff?bm1tg2') format('woff'), url('assets/fonts/cwicons.svg?bm1tg2#cwicons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="cw-"],
[class*=" cw-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'cwicons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cw-favicon:before {
  content: "\e902";
}

.cw-github:before {
  content: "\e903";
}

.cw-mailto:before {
  content: "\e900";
}

.cw-vic-logo:before {
  content: "\e901";
}

.cw-help:before {
  content: "\e904";
}

.cw-close:before {
  content: "\e905";
}

/**
 * CSS image crop. Forces image to specific aspect ratio cropping at the middle.
 * http://dabblet.com/gist/4711695
 */

.id-wrapper {
  width: 150px;
  height: 150px;
  padding-left: calc((100% - 150px)/2);
}

.id-linked :hover {
  border-color: var(--fg);
}

.img-crop {
  width: 100%;
  height: 100%;
  padding-left: 0px;
  border-top-left-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  border: solid 5px var(--bg);
  margin-top: 20px;
  background-size: cover;
  background-position: center;
}

/*.img-crop{
 overflow: hidden;
}

.img-crop:before,
.img-crop img{
  display: inline-block;
  vertical-align: middle;
}

.img-crop:before{
  content: "";
  padding-top: 100%;
}

.img-crop img{

  width: 100%;
  padding-left: 100%;
  margin: -999em -100%;
}*/

#header {
  position: absolute;
  z-index: 4;
  float: left;
  width: 600px;
  height: 65px;
  left: calc((100% - 600px)/2);
  right: 20px;
  top: auto;
  bottom: 0px;
  text-align: center;
}

#header>a {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: var(--fg);
  background: var(--bg);
}

#header>span {
  display: inline-block;
  text-align: center;
  font-size: 18px;
  color: var(--fg);
  background: var(--bg);
}

#logo {
  display: block;
  font-size: 20px;
  color: var(--fg);
  margin-top: 10px;
  height: 20px;
  margin-left: calc((100% - ((76.5/35) * 20px))/2);
  width: fit-content;
}

#toggle {
  position: fixed;
  float: right;
  right: 20px;
  z-index: 6;
  color: var(--fg);
  text-transform: uppercase;
  width: 520px;
  top: 10px;
}

#mailto {
  float: right;
  padding-right: 20px;
}

#mailto {
  color: var(--fg);
}

#mailto:hover {
  color:  var(--hl);
}

#mailto h2,
#mailto span {
  float: right;
  font-size: 15px;
  margin-top: 40px;
  font-style: italic;
  text-decoration: none;
  font-weight: 300;
  color: inherit;
}

#toggle .checkbox-round {
  margin-right: 0px;
  margin-top: 7px;
}

#toggle>h {
  position: absolute;
  font-size: 20px;
  font-weight: 500;
  margin: 7px 0px;
}

#toggle>h2 {
  float: right;
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0px;
}

#view h {
  float: left;
  font-size: 20px;
  font-weight: 500;
  padding-top: 7px;
  margin-left: 20px;
}

.control>h2 {
  float: left;
  font-size: 15px;
  font-weight: 300;
  margin: 10px 0px;
}

#toggle .checkbox-round {
  float: right;
}

input[type=checkbox] {
  visibility: hidden;
}

.checkbox-round {
  float: left;
  width: 26px;
  height: 26px;
  background: var(--fg);
  margin: 7px 20px;
  border-radius: 100%;
  position: relative;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.checkbox-round label {
  /*display: block;*/
  width: 20px;
  height: 20px;
  border-radius: 100px;
  transition: all .5s ease;
  cursor: pointer;
  position: absolute;
  top: 3px;
  left: 3px;
  z-index: 10;
  background: var(--bg);
  /*box-shadow:inset 0px 1px 3px rgba(0,0,0,0.5);*/
}

.checkbox-round input[type=checkbox]:checked+label {
  background: var(--fg);
}

#controls > input {
  margin-left: 20px;
}

#loading {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  margin-top: -0.5em;
  font-size: 2em;
  color: var(--fg);
}

#loading p {
  font-size: 16px;
}

#loading.loaded {
  display: none;
}

body.calc #loading {
  display: block;
}

.topnav {
  position: relative;
  display: inline-block;
  background-color: var(--bg);
  color: var(--fg);
  text-transform: uppercase;
  width: 100%;
  left: 0px;
  border-bottom: solid 1px var(--ll);
}

.topnav {
  /*overflow: hidden;*/
  z-index: 6;
}

.topnav .control {
  padding-top: 10px;
  padding-bottom: 10px;
  float: left;
  display: inline-block;
}

#view {
  padding-top: 10px;
  padding-bottom: 10px;
  height: 38px;
  color: var(--fg);
  display: inline-block;
  float: left;
}

.icon {
  display: none;
  text-decoration: none;
}

@media screen and (max-width: 500px) {
  #mailto h2 {
    display: none;
  }
}

@media screen and (max-width: 700px) {
  .control .checkbox-round {
    background: var(--bg);
  }
  .control .checkbox-round label {
    background: var(--bg);
  }
  .control .checkbox-round input[type=checkbox]:checked+label {
    background: var(--fg);
  }
  #view:hover {
    background-color: var(--fg);
    color: var(--bg);
  }
  #view {
    width: 100%;
  }
  .topnav .control {
    display: none;
    background-color: var(--fg);
    color: var(--bg);
    width: 100%;
  }
  .icon {
    display: block;
    float: left;
    color: inherit;
    font-size: 20px;
    font-weight: 500;
    padding: 0 calc((38px - 18px)/2);
    padding-top: calc((38px - 27px)/2 - 1.5px);
    padding-bottom: calc((38px - 27px)/2 + 1.5px);
    margin: 0px 5px;
  }
  .topnav.responsive {
    position: relative;
    border-bottom: solid 1px var(--ll);
    z-index: 9;
  }
  .topnav.responsive .control {
    float: left;
    display: inline-block;
    text-align: left;
    clear: both;
  }
  .control:last-child {
    padding-bottom: 10px;
  }
  .control {
    padding-top: 10px;
  }
}

#infoWrapper .toggle-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  text-align: right;
}

#infoWrapper .info {
  position: fixed;
  right: 0;
  width: 560px;
  max-width: 100%;
  max-height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 0;
  z-index: 2;
  display: none;
  border-bottom: solid 1px var(--ll);
  border-top: solid 1px var(--ll);
  border-left: solid 1px var(--ll);
  background-color: var(--bg);
  color: var(--fg);
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  background: var(--ll);
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: var(--fg);
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background:  var(--hl);
}

#contact-button {
  cursor: pointer;
  position: fixed;
  right: 20px;
  bottom: 20px;
  z-index: 5;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  padding: 6px 20px;
  color: var(--fg);
  width: 150px;
}

#contactAid {
  position: fixed;
  right: 10px;
  bottom: 10px;
  padding: 0px 20px;
  width: 170px;
  height: 52px;
}

#contactAid-label {
  position: fixed;
  right: 10px;
  bottom: 64px;
  padding: 6px 20px;
  width: 170px;
}

#contact-button::selection {
  background: var(--fg);
  color: var(--bg);
}

#contact-button::-moz-selection {
  background: var(--fg);
  color: var(--bg);
}

#contact-button:focus {
  outline-color: var(--fg);
  border-color: var(--fg);
}

.contact-menu {
  z-index: 9;
  /*color: var(--fg);*/
  width: 150px;
  /*  background-color:  var(--bg);
  border: solid 1px var(--ll);*/
  /*padding: 0px 0px;
  margin : 0px 0px;
  list-style:none;*/
  display: none;
}

#contact-menu {
  cursor: pointer;
  z-index: 9;
  color: var(--fg);
  width: 150px;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  padding: 0px 0px;
  margin: 0px 0px;
  list-style: none;
}

.contact-menu-open {
  display: block;
}

.contact-menu::-webkit-scrollbar-track {
  background-color: var(--bg);
}

.contact-menu::-webkit-scrollbar {
  width: 12px;
  background-color: var(--fg);
}

.contact-menu::-webkit-scrollbar-thumb {
  background-color: var(--fg);
}

[class^="cw-"],
[class*=" cw-"] {
  float: right;
}

#autocomplete {
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 5;
  font: 15px roboto condensed, helvetica neue, helvetica, arial, sans-serif;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  padding: 6px 20px;
  color: var(--fg);
  width: 300px;
}

#searchAid {
  position: fixed;
  left: 10px;
  bottom: 10px;
  padding: 0px 20px;
  width: 320px;
  height: 52px;
}

#searchAid-label {
  position: fixed;
  left: 10px;
  bottom: 62px;
  padding: 6px 20px;
  width: 320px;
}

#autocomplete::selection {
  background: var(--fg);
  color: var(--bg);
}

#autocomplete::-moz-selection {
  background: var(--fg);
  color: var(--bg);
}

#autocomplete:focus {
  outline-color: var(--fg);
  border-color: var(--fg);
}

.suggestion-menu {
  z-index: 7;
  color: var(--fg);
  width: 300px;
  background-color: var(--bg);
  border: solid 1px var(--ll);
  padding: 0px 0px;
  margin: 0px 0px;
  list-style: none;
  max-height: calc(41px * 6);
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
}

.suggestion-menu::-webkit-scrollbar-track {
  background-color: var(--bg);
}

.suggestion-menu::-webkit-scrollbar {
  width: 12px;
  background-color: var(--fg);
}

.suggestion-menu::-webkit-scrollbar-thumb {
  background-color: var(--fg);
}

.ui-menu-item-wrapper {
  padding: 12px 20px;
  padding-bottom: 12px;
}

.ui-state-active {
  color: var(--bg);
  background-color: var(--fg);
}

#infoWrapper .info .container {
  height: 100%;
  overflow-y: auto;
  padding: 0 0em;
}

#infoWrapper .info .container a {
  text-decoration: none;
  color:  var(--hl);
  margin-top: 1em;
  margin-bottom: 1em;
}

#infoWrapper .info .container a:hover {
  text-decoration: none;
  color: var(--fg);
}

#infoWrapper .info .container em {
  text-decoration: none;
  color: var(--fg);
  font-style: italic;
  display: block;
  text-align: center;
}

#infoWrapper.expanded .info {
  /*height: 315px;*/
  display: inherit;
}

.info-row {
  display: inline-block;
  padding: 0px 0px;
  width: 100%;
}

.info-row hr {
  padding-left: 20px;
  padding-right: 20px;
  border-width: 0.5px;
  border-bottom: solid 0.5px var(--ll);
}

.info-left {
  padding-left: 20px;
  float: left;
}

.info-right {
  padding-right: 20px;
  float: right;
}

.info-brief {
  padding-left: 20px;
  padding-right: 20px;
  display: block;
  text-align: justify;
  text-justify: inter-word;
  -moz-text-align-last: center;
  text-align-last: center;
  padding-bottom: 8px;
  padding-top: 8px;
  /*float: left;*/
}

.media-wrapper {
  width: 100%;
}

.img-fit {
  width: 100%;
  max-width: 560px;
  background-color: var(--fg);
}

#navbar {
  border-bottom: solid 1px var(--ll);
  height: 58px;
  width: 100%;
  background-color: var(--bg);
  z-index: 2;
}

#navbar-bottom {
  position: absolute;
  border-top: solid 1px var(--ll);
  height: 75px;
  width: 100%;
  background-color: var(--bg);
  z-index: 2;
  top: calc(100% - 76px);
}

#infoWrapper .info {
  top: 58px;
  z-index: 3;
}

#cy {
  height: calc(100% - 58px - 76px);
  width: 100%;
  position: absolute;
  left: 0;
  top: 58px;
  background: var(--bg);
}

.aid {
  position: fixed;
  pointer-events: none;
  z-index: 7;
  background-color: rgba(0, 0, 0, 0);
  border: solid 1px  var(--hl);
}

.aid-label {
  position: fixed;
  /* pointer-events: none; */
  z-index: 8;
  border: solid 1px  var(--hl);
  background:  var(--hl);
  color: var(--bg);
  text-align: center;
  font-style: italic;
  padding: 10px;
}

#detailAid {
  right: 10px;
  top: 10px;
  width: 540px;
  height: 105px;
}

#detailAid-label {
  right: 10px;
  top: 107px;
  width: 540px;
  padding-left: 0;
  padding-right: 0;
}

#viewAid {
  left: 10px;
  top: 10px;
  width: 510px;
  height: 40px;
}

#viewAid-label {
  left: 10px;
  top: 50px;
  width: 510px;
  padding-left: 0;
  padding-right: 0;
}

@media (max-width: 1160px) and (min-width: 0px) {
  #viewAid-label {
    left: 522px;
    top: 10px;
    width: auto;
    height: auto;
    padding: 11.5px 10px;
  }
  #detailAid {
    right: 10px;
    top: 70px;
    width: calc(100% - 22px);
    height: 105px;
  }
  #detailAid-label {
    right: 10px;
    top: 157px;
    width: calc(100% - 22px);
    padding-left: 0;
    padding-right: 0;
  }
  #header>span {
    display: none;
  }
  #header {
    width: 200px;
    left: calc((100% - 200px)/2);
  }
  .info-right {
    padding-right: 20px;
    float: right;
  }
  .media-wrapper {
    width: 560px;
    padding-left: calc((100% - 560px)/2);
  }
  #cy {
    height: calc(100% - 116px - 76px - 32px);
    top: 116px;
  }
  #toggle {
    width: calc(100% - 20px - 20px);
    top: 68px;
    color: var(--fg);
  }
  #navbar {
    height: 115px;
    border-bottom: solid 1px var(--ll);
  }
  #infoWrapper .info {
    top: 115px;
    width: 100%;
  }
  #autocomplete {
    bottom: 75px;
    left: 2px;
    width: calc(100% - 44px);
  }
  #searchAid {
    bottom: 65px;
    left: 10px;
    width: calc(100% - 62px);
  }
  #searchAid-label {
    bottom: calc(65px + 52px + 2px);
    left: 10px;
    width: 200px;
  }
  .suggestion-menu {
    max-height: calc(41px * 4);
    width: calc(100% - 42px);
  }
}

@media(max-width: 800px) {
  #header {
    left: 20px;
    width: 135px;
  }
}

@media(max-width: 380px) {
  #header>a {
    text-align: center;
    font-size: 15px;
  }
  #header {
    height: 70px;
    width: 65px;
  }
  #logo {
    margin-top: 5px;
  }
}

@media(max-width: 700px) {
  #viewAid-label {
    left: 112px;
    top: 10px;
    width: auto;
    height: auto;
    padding: 11.5px 10px;
  }
  #viewAid {
    left: 10px;
    top: 10px;
    width: 100px;
    height: 40px;
  }
  .aid,
  .aid-label {
    display: none;
  }
  #contactAid{
    display: block;
  }
  #contactAid-label{
    display: block;
  }

  
}

@media(max-width: 600px) {
  .media-wrapper {
    width: 100%;
    padding-left: 0;
  }
}

@media(max-width: 500px) {
  #toggle>h2 {
    font-size: 10px;
    width: 35px;
    text-align: right;
    margin: 7px 0px;
  }
}